In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import  ActionChains

In [2]:
PATH = "C:\Program Files (x86)\chromedriver.exe"
driver = webdriver.Chrome(PATH)
driver.get("http://www.cmfchile.cl/institucional/mercados/listado_actual_directorios.php?mercado=V")

In [3]:
Table = driver.find_element_by_xpath("/html/body/div[1]/div[4]/div[4]/table").text.split("\n")


empresas_nombre = []
for i in range(928):
	if (i/2).is_integer() == True:
		empresas_nombre.append(Table[i])

empresas_rut = []
for i in range(926):
	if (i/2).is_integer() == False:
		empresas_rut.append(Table[i])


empresas_nombre.pop(0)

'Rut Razón Social'

In [6]:
##agregamos la columna que indique a que empresa corresponde.
Rut_especifico = []
Nombre_documento = []


for rut in empresas_rut:
    try:
        Rut_especifico = rut
        Nombre_documento = [f"{rut}.csv"]
        df_empresa = pd.read_csv(Nombre_documento[0])
        df_empresa["Rut_Empresa"] = rut
        df_empresa.to_csv(Nombre_documento[0], index=False)
    except:
        print(f"ERROR {rut} !!!")
        continue

ERROR 86099700 !!!
ERROR 76503273 !!!
ERROR 76172904 !!!
ERROR 91126000 !!!

In [7]:
#Fusionamos los datos en un unico Data_Frame
import os
import glob
import pandas as pd
os.chdir(r"C:\Users\sando\Desktop\CODING\Scrapping CMF\Comienzo practica 28-12-2020 en adelante\Datos")

extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "Directores_por_empresa.csv", index=False, encoding='utf-8-sig')

In [9]:
##ELIMINAMOS EL INDICE
df = pd.read_csv("Directores_por_empresa.csv")
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.to_csv("Empresas_CMF_directores_sin_index.csv", index=False, encoding='utf-8-sig')

In [14]:
len(empresas_rut)

463

In [13]:
len(empresas_nombre)

463

In [ ]:
## hacemos diccionarios con los rut y los nombres

In [55]:
 def Convert(lst):
    res_dct = {lst[i]: lst[i + 1] for i in range(0, len(lst), 2)}
    return res_dct

In [56]:
Dicc = Convert(Table)

In [66]:
df = pd.read_csv("Empresas_CMF_directores_sin_index.csv")
df

,Rut_individuo,Nombre,Cargo,Fecha_nombramiento,Fecha_termino,Rut_Empresa
0,0-E,LUIS ORVAÑANOS LASCURAIN,Presidente,28/03/2012,NaN,59175530
1,0-E,EMILIO CUENCA FRIEDERICHSEN,Director,28/03/2012,NaN,59175530
2,0-E,ROBERTO ORVAÑANOS CONDE,Director,28/03/2012,NaN,59175530
3,0-E,IÑIGO ORVAÑANOS CORCUERA,Director,28/03/2012,NaN,59175530
4,0-E,RAUL ZORRILLA COSIO,Director,28/03/2012,NaN,59175530
...,...,...,...,...,...,...
15776,2.485.422-1,MARIO ALFREDO SANTANDER GARCÍA,Director,30/04/2010,29/04/2013,99598300
15777,3.185.849-6,NORMAN HANSEN ROSES,Director,30/04/2010,29/04/2013,99598300
15778,3.712.353-6,CANIO CORBO LIOI,Director,30/04/2010,29/04/2013,99598300
15779,3.899.021-7,HORACIO NOLBERTO PAVEZ GARCIA,Director,30/04/2010,29/04/2013,99598300
15780,6.372.286-3,JOSÉ RAMÓN ABOITIZ DOMINGUEZ,Director,30/04/2010,29/04/2013,99598300

In [58]:
Dicc.pop("86099700")
Dicc.pop("76503273")
Dicc.pop("76172904")
Dicc.pop("91126000")

'AUTOMOVILISMO Y TURISMO S.A.'

In [59]:
data_items = Dicc.items()
data_list = list(data_items)

df_dic = pd.DataFrame(data_list)

In [61]:
df_dic.nunique()

0    448
1    448
dtype: int64

In [62]:
df.nunique()

Rut_individuo         3921
Nombre                4856
Cargo                    4
Fecha_nombramiento    1320
Fecha_termino         1290
Rut_Empresa            448
dtype: int64

In [99]:
##añadiendo nombres de empresa
key = []
df["Nombre_empresa"] = "nada"
for i in range(15781):
    key = [str(df.iloc[i , 5])]
    df.iloc[i , 6] = Dicc[key[0]]
    key.clear()

In [100]:
df.to_csv( "Lista_completa_2.csv", index=False, encoding='utf-8-sig')

0
1
2
3
4
5
6
7
8
9